name: CI

on:

  push:
    branches: [ main ]

  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:

  build-test:

    strategy:
      matrix:
        os: [ubuntu-24.04, macos-latest]
        mlcomp: [mlkit, mlton]

    runs-on: ${{ matrix.os }}

    steps:

      - uses: actions/checkout@v3

      - name: Setup environment
        run: |
          echo "OS=$(uname -s | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV
          echo "RUNHOME=$(echo $HOME)" >> $GITHUB_ENV

      - uses: diku-dk/install-mlkit@v1.0.1

      - uses: diku-dk/install-smlpkg@v1

      - name: Set PATH
        working-directory: ${{ env.RUNHOME }}
        run: |
          echo "[OS: $OS, HOME: $RUNHOME]"
	  echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Check
        run: |
          mlkit --version
          smlpkg --version

      - name: Install MLton (linux)
        if: ${{ env.OS == 'linux' && matrix.mlcomp == 'mlton' }}
        run: |
          sudo apt-get install -y mlton
          mlton

      - name: Install MLton (macos)
        if: ${{ env.OS == 'darwin' && matrix.mlcomp == 'mlton' }}
        run: |
          brew install mlton
          mlton

      - name: Build
        run: MLCOMP=${{ matrix.mlcomp }} make clean all

      - name: Run tests
        run: MLCOMP=${{ matrix.mlcomp }} make test
